<div class=" main-content">
  <div class=" header bg-gradient-danger py-7 py-lg-8 pt-lg-9">
    

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  
  <div class=" container mt--8 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-5 col-md-7">
        <div class=" card bg-secondary border-0 mb-0">
          <div class=" card-header bg-transparent pb-5">

            <div class=" btn-wrapper text-center">
              <img src="assets/img/ilha/logo1.png" width="200px" />
            </div>
          </div>

          <div class=" card-body px-lg-5 py-lg-5">
           

            <form role="form">
              <div
                class="form-group mb-3"
                [ngClass]="{ focused: focus === true }"
              >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input class="form-control" placeholder="Usuário" type="text" (focus)="focus = true" name="user" (blur)="focus = false" [(ngModel)]="username" />
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input class="form-control" placeholder="Senha" type="password" (focus)="focus1 = true" name="password" (blur)="focus1 = false" [(ngModel)]="password" />
                </div>
              </div>
              <div class=" custom-control custom-checkbox mb-3">
                <input class=" custom-control-input" id="customCheck1" type="checkbox"[(ngModel)]="lembrar"  />

                <label class=" custom-control-label" for="customCheck1">
                  Lembrar
                </label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4 btn-block" (click)="login()">
                  Entrar
                </button>
              </div>
              
            </form>
            
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>
